.main-chat
 .chat-main__group-info
  .chat-main__left
   %h2.chat-main-left__currentgroup
    グループ
   %ul.chat-main-left__member
    Member:
    %li.chat-main__left-list
     きぬがわ
  .chat-main__right
   = link_to "#",class:"chat-main__edit-btn" do
    Edit  
 .chat-main-messages
  .chat-main__message
   .chat-main-message__info
    %p.chat-main-message__talker
     きぬがわ
    %p.chat-main-message__data
     2020/06/23(Tue) 16:31:25
   %p.chat-main-message__text
    hello
   %img{alt: "猫",src:"3051218_l.jpg",height:"200",width:"150"}
  .chat-main__message
   .chat-main-message__info
    %p.chat-main-message__talker
     きぬがわ
    %p.chat-main-message__data
     2020/06/23(Tue) 16:31:25
   %p.chat-main-message__text
    hello
   %img{alt: "猫",src:"3051218_l.jpg",height:"200",width:"150"}
  .chat-main__message
   .chat-main-message__info
    %p.chat-main-message__talker
     きぬがわ
    %p.chat-main-message__data
     2020/06/23(Tue) 16:31:25
   %p.chat-main-message__text
    hello
   %img{alt: "猫",src:"3051218_l.jpg",height:"200",width:"150"}
  
 .chat-main-message-form
  .chat-main-message-form__new
   .chat-main-message-form__box
    %form
     %input.input-text-box{:type => "text",:placeholder => "type a message"}/
     %label{class:"input-box-image"}
      = icon('fas','image')
      %input.box-image-file{:type => "file"}
   .chat-main__form-btn
    %form
     %input.input-send-btn{:type => "submit",:placeholder => "Send"}/