.groups{

  padding:20px 20px ;
  height:calc(100vh - 100px);
 .group{
  margin-bottom: 40px;;
  &__name{
   margin-bottom: 5px;
    .group__icon{
     color:$mainColor-group;
     text-decoration: none;
     font-size: 15px;
    }
  }
  
  &__message{
    color: $mainColor-group;
    font-size: 11px;
  }
 }
} 